# Dependencies
node_modules/

# Build output
dist
.svelte-kit/

# Turborepo
.turbo/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# Env
.env
.env.*
!.env.example

# Logs
*.log

# TypeScript
*.tsbuildinfo

# Coverage
coverage
*.lcov

# OS
.DS_Store

# Editor
.vscode-test

# pnpm
.pnpm-store

# Output of 'npm pack'
*.tgz
